body{
background-color:white;
padding:0px;
margin:0px;
}


.slots {
	font-size:100px;
	font-family:arial,helvetica,sans-serif;
	overflow:hidden;
	width:100px;
	height:100px;
	border:1px solid black;
	float:left;
}

.slots .wrapper{
	margin-top:-6px;
	width:100px;

}

.slots .slot{
	width:100px;
	height:100px;
	text-align:center;

}